:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #173758;
  --orange-color: #b58435;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 0.75em;
  --avatar-size: 1.125em;

  /* Font Size */
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
  --font-micro: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

/* Nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: "oswald";
  letter-spacing: 1px;
}

.navbar-logo {
  font-size: var(--font-medium);
  color: var(--white-color);
  text-decoration: none;
}

.navbar-logo i {
  transform: rotate(270deg);
  color: var(--orange-color);
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: var(--font-small);
}

.navbar-menu li {
  padding: 8px 12px;
}

.navbar-menu li:hover {
  background-color: var(--orange-color);
  border-radius: 4px;
}

.navbar-icons {
  list-style: none;
  color: var(--white-color);
  display: flex;
}

.navbar-icons i {
  padding: 8px 12px;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: var(--font-medium);
  color: var(--orange-color);
}

/* Video Player */
.player {
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}

/* Main */
.main-feature {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

/* About Us */
.about-us {
  display: flex;
  padding: 6.25rem;
  color: var(--blue-color);
}

.about-us .about-us-img {
  width: 20%;
  border-radius: 45px;
  padding: var(--padding);
}

.about-us .about-us-text {
  display: flex;
  flex-direction: column;
  padding-left: 3.125rem;
}

.about-us .about-us-text h3 {
  font-size: var(--font-large);
  font-family: "oswald";
  padding-bottom: var(--padding);
  letter-spacing: 2px;
}

.about-us .about-us-text p {
  font-size: var(--font-medium);
  padding: 0.75rem 0px;
}

.about-us .about-us-text button {
  display: flex;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 8px;
  padding: var(--padding);
  margin: var(--padding);
  margin-left: 0;
  width: 10%;
  border: none;
  cursor: pointer;
}

/* Contact Us */
.contact-us {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#contact-us {
  height: 100%;
  width: 100%;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-us h1 {
  margin: 1rem;
  color: var(--white-color);
  font-family: "oswald";
  letter-spacing: 2px;
  font-size: var(--font-large);
}

.container {
  width: 100%;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: var(--padding);
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
}

.form-group {
  width: 100%;
  margin-top: 1rem;
  font-size: var(--font-small);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.3rem;
  font-size: var(--font-small);
  border: 1px solid var(--grey-dark-color);
  margin-top: 0.3rem;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: var(--padding);
  font-size: var(--font-large);
  border-radius: 8px;
  color: var(--blue-color);
  cursor: pointer;
  margin-top: 0.625rem;
  transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: var(--orange-color);
  animation: status 4s ease forwards;
  color: white;
  font-size: 20px;
  font-family: "roboto";
  padding: 15px auto;
}

#status.error {
  background-color: #fa4659;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
/* Footer */
footer {
  text-align: center;
  padding: var(--padding);
}

footer p {
  color: var(--blue-color);
  font-size: var(--font-small);
}

@media screen and (max-width: 768px) {
  /* Nav bar */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1%;
  }

  .navbar .navbar-menu li {
    width: 80%;
    text-align: center;
  }

  .navbar .navbar-icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar .navbar-toggleBtn {
    display: block;
  }

  .navbar .navbar-menu.active,
  .navbar .navbar-icons.active {
    display: flex;
  }

  /* Player */
  .player {
    width: 100%;
    height: 100%;
  }

  .player video {
    padding-top: 14.8px;
    padding-bottom: 10px;
  }
  /* about us */
  .main-feature .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-feature .about-us-img {
    width: 80%;
    border-radius: 15%;
  }

  .main-feature .about-us-text {
    padding-left: 0.625rem;
  }

  .main-feature .about-us-text h3 {
    padding-top: 2rem;
  }
  .main-feature .about-us-text button {
    display: block;
    border: none;
    padding: calc(var(--padding) / 2);
    width: 15%;
  }
}
